<%- include('partials/header') %> 

<%- include('partials/navigation') %>

<div class="container mt-5 mb-5">
    <div class="row mb-4">
        <div class="col-sm-6 mb-5">
            <div class="card shadow bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>
                    <a href="#" class="card-link">More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
