html,
body {
  height: 100%;
}

#navbar {
    background: #000000;
}

#navbar .navbar-nav > li > a  {
    color: #ffffff;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
    background: #000000;
    color: #ffffff;
}
