<%- include('../partials/header') %>

<%- include('../partials/navigation') %>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center px-5 pt-2 pb-5">
        <div class="col-md-8">
            <div class="card login-card">
                <h5 class="card-header bg-dark text-center text-white">Add Course</h5>
                <div class="card-body">
                    <form action="/user/addPost" method="POST">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" name="content" id="content" rows="10" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-block bg-dark text-white" name="addPost">Add Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>